<form id="add_user" action="/api/users" method="POST">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light">Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="name" value="" placeholder="Nikunj Gupta">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">Phone Number</label>
            <input type="text" name="phone" value="" placeholder="7037206550">
        </div>
        <div class="form-group">
            <label for="address" class="text-light">Address</label>
            <input type="text" name="address" value="" placeholder="Aligarh">
        </div>
        <div class="form-group">
            <label for="debit" class="text-light">Debit</label>
            <input type="text" name="debit" value="" placeholder="0">
        </div>
        <div class="form-group">
            <label for="credit" class="text-light">credit</label>
            <input type="text" name="credit" value="" placeholder="0">
        </div>
        <div class="form-group">
            <label for="advance" class="text-light">Advance</label>
            <input type="text" name="advance" value="" placeholder="0">
        </div>
        <div class="form-group">
            <label for="Loan" class="text-light">Loan</label>
            <input type="text" name="loan" value="" placeholder="0">
        </div>
        <div class="form-group">
            <label for="liability" class="text-light">Liability</label>
            <input type="text" name="liability" value="" placeholder="0">
        </div>
        <div class="form-group">
            <label for="remark" class="text-light">Remark</label>
            <input type="text" name="remark" value="" placeholder="Null">
        </div>
        <div class="form-group">
            <button type="submit" class="btn text-dark update">Save</button>
        </div>
    </div>
</form>