<tbody>
    <tr>
        <td>1</td>
        <td>Nikunj</td>
        <td>7037206550</td>
        <td>Guru ram das nagar</td>
        <td>12000</td>
        <td>1000</td>
        <td>20000</td>
        <td>0</td>
        <td>25000</td>
        <td>Null</td>
        <td class="mytd">
            <a href="/update-user" class="btn border-shadow update">
                <span class="text-gradient">
                    <i class='fas fa-pencil-alt'></i>
                </span>
            </a>
            <a href="#" class="btn border-shadow delete">
                <span class="text-gradient">
                    <i class='fas fa-times'></i>
                </span>
            </a>
        </td>
    </tr>
</tbody>